body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}
.cont {
    max-width: 53%;
    margin: 50px 65px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}
.social-icons {
    margin-bottom: 20px;
}
.social-icons img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    cursor: pointer;
}
input[type="text"] {
    padding: 10px;
    width: 80%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #218838;
}
.timings {
    margin-top: 20px;
}
.timing-item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #e9ecef;
    border-radius: 5px;
}
.mosque-image {
    position: absolute;
    top: 0px;
    right: -560px; /* Adjust this value to position the image */
    width: 560px;
    height: 483px;
}